@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* Variables */
:root {
    --font-family: 'Noto Sans', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --color: white;
    --bg-color: #000000;
    --hitori-color: #EEB8C4;
    --ryo-color: #4061A0;
    --kita-color: #D0574E ;
    --nijika-color: #E6D47B;
    --primary-shadow: #525252;
    --secondary-shadow: #60f2ff;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.5s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

li {
    list-style:none;
}
a {
    text-decoration: none;
    color: var(--primary-color)
}

button:hover {
    opacity: 0.8;
}

/* Parallax scrolling effect starts */
.parallax {
    /* The image used */
    background-image: url('/../assets/kessoku_background2.png');
  
    /* Height */
    height: 45%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
/* Parallax scrolling effect ends */

#slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}


/* Tours section starts */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.image-slider {
    position: relative;
    width: auto;
    height: 50vh;
    overflow: hidden;
}
  
.tours {
    margin-bottom: 30px;
}

.youtube-video {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-video iframe {
    aspect-ratio: 16/9;
    width: auto; /* Default width for Phone */
    height: 300px; /* Default height */
}
  
/* Media queries for different screen sizes */
@media screen and (min-width: 720px) {
    .youtube-video iframe {
        aspect-ratio: 16/9;
        width: auto; /* Adjust width for ipad */
        height: 400px; /* Adjust height */
    }
}

@media screen and (min-width: 1024px) {
    .youtube-video iframe {
        aspect-ratio: 16/9;
        width: auto; /* Adjust width for larger screens */
        height: 500px; /* Adjust height */
    }
}
  
@media screen and (min-width: 1366px) {
    .youtube-video iframe {
        aspect-ratio: 16/9;
        width: auto; /* Adjust width for even larger screens */
        height: 650px; /* Adjust height */
    }
}

#slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
  
.left-arrow {
    left: 10px;
}
  
.right-arrow {
    right: 10px;
}
/* Tours section ends */
  

/* Navbar section starts*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.1);
}

nav ul {
    display: flex;
    gap: 2.5rem;
    color: white;
    margin: auto;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

nav ul li span {
    background-color: red;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.header {
    border-bottom: 1px solid white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17vw;
}
.navbar img {
    margin-right: 150px;
}
.nav-item {
    margin-left: 1vw;
}
.nav-link:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
/* Navbar section ends */

/*Tours section starts*/
h2 {
    text-align: center;
    color: white;
    text-decoration: underline;
}
/* Tours section ends */

/* Disocography section starts */
.flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 292px)
{
    .flex-container2{
      flex-wrap: wrap;
    }
    .flex-container2 > li {
      width: 40%;
    }
}

figcaption {
    background-color: black;
    color: white;
    font-weight: var(--bold-font);
    padding: 5px;
    text-align: center;
    height:40px;
    overflow: hidden;
}

figure {
    display: grid;
    place-items: center;
    align-content: center;
    flex-flow: column;
    padding-right:30px;
    padding-left: 30px;
    padding-bottom: 20px;
    max-width: 220px;
    margin: auto;
    min-height:200px;
}

@media screen and (min-aspect-ratio: 16/9)
{
    figure {
        display: grid;
        place-items: center;
        align-content: center;
        flex-flow: column;
        padding-right:50px;
        padding-left: 50px;
        padding-bottom: 20px;
        max-width: 220px;
        margin: auto;
        min-height:200px;
    }
}

figure img {
    max-height:100%;
    width: auto;
    aspect-ratio: 1/1;
}

.flex-container2:nth-child(2) {
    transition-delay: 300ms;
}
.flex-container2:nth-child(3) {
    transition-delay: 500ms;
}
.flex-container2:nth-child(4) {
    transition-delay: 700ms;
}
.flex-container2:nth-child(5) {
    transition-delay: 100ms;
}
.flex-container2:nth-child(6) {
    transition-delay: 300ms;
}
.flex-container2:nth-child(7) {
    transition-delay: 500ms;
}
.flex-container2:nth-child(8) {
    transition-delay: 700ms;
}
.flex-container2:nth-child(9) {
    transition-delay: 100ms;
}
.flex-container2:nth-child(10) {
    transition-delay: 300ms;
}
.flex-container2:nth-child(11) {
    transition-delay: 500ms;
}
.flex-container2:nth-child(12) {
    transition-delay: 700ms;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* Discography section ends */

/* Merch section starts */
.merch {
    padding-top: 15px;
}
#merch {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#merch .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#merch .pro {
    width: 20%;
    min-width: 240px;
    padding: 10px 12px;
    border: 3px solid #2b2b2b;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.05);
    margin: 15px 0;
    transition: 0.5s ease;
    position: relative;
}

#merch .pro:hover {
    box-shadow: 20px 30px 30px rgba(255, 255, 255, 0.1);
}

#merch .pro img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius:20px;
}

#merch .pro .des {
    padding: 10px 0;
}

#merch .pro .des h4 {
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-align:center;
}

#merch .pro .des h5 {
    color: white;
    font-size: 14px;
    text-align: center;
}

#merch .pro .cart {
    width: 35px;
    object-fit: scale-down;
    background-color: rgba(111, 111, 111, 0.486);
    border: 3px solid rgb(224, 224, 224);
    position: relative;
    cursor: pointer;
}

#merch .pro button {
    background-color: black;
    border: none;
}
/* Merch section ends */

/* Hero section starts*/
.flex-container {
    display: flex;
    min-width: 450px;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.flex-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    width: 20vw;
    height: 41vw;
    border-radius: 7.5%;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-container > div > h5 {
    line-height: 15px;
    position: relative;
    margin-top: -10px;
}
.flex-container > div > p {
    flex-wrap: wrap;
    font-size: 0.75rem;
    line-height: 20px;
    border: 1.5px solid rgb(132, 132, 132);
    margin-top: -10px;
    aspect-ratio: 16/10;
    width:20vw;
    height: auto;
    border-radius: 5%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.hero img {
    height: 20%;
    width: 20%;
    object-fit: contain;
}
  
.bio {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px white;
    background-color: rgb(255, 255, 255);
}

.bio-text {
    color: black;
}

.profile-img {
    padding-top: 20px;
    height: 250px;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
/* Hero section ends */

/* Support section starts */
.support {
    padding-bottom: 50px;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    color: white;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    color: white;
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px white;
    background-color: #161616;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset white;
    font-size: 0.875rem;
    outline: none;
    font-family: var(--font-family);
}

.input-field::placeholder {
    color: black;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: red;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    cursor: pointer;
}
/* Support section ends */

/* Cart section starts */
#open_cart_btn {
    border: none;
    background-color: black;
}

#open_cart_btn:hover {
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.backdrop.show {
    display: block;
    opacity: 1;
}

.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: black;
    box-shadow: -10px 0 15px rgba(123, 123, 123, 0.54);
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
}

.sidecart h3 {
    color: white;
}

.sidecart.open {
    transform: translateX(0);
}

.cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top:15vh;
}

.cart_header {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.834);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.header_title {
    position: relative;
}

.cart_header .close_btn {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: white;
}

.cart_header .close_btn:hover {
    transform: scale(1.1);
}

.cart_items {
    flex: 1;
    overflow-x: hidden;
}

.cart_item {
    position: relative;
    display: flex;
    border-bottom: 1px solid rgba(142, 142, 142, 0.834);
    padding: 1rem;
    width: 100%;
    min-height: 150px;
}

.remove_item {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(210, 210, 210);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove_item span{
    color: rgb(255, 255, 255);
    font-size: 20px;
    user-select: none;
    background-color: white;
}

.item_img {
    flex: 1;
    margin-right: 20px;
}

.item_img img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.item_details {
    flex: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item_details p {
    color: white;
}

.item_details .qty {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;
}

.item_details .qty span {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(186, 186, 186);
    user-select: none;
    transition: scale 0.2s ease;
}

.item_details .qty span:hover {
    transform: scale(1.1);
}

.item_details .qty span:active {
    transform: scale(1);
}

.qty span:first-of-type {
    font-size: 2rem;
    padding-bottom: 5px;
}

strong {
    color: white;
}

p {
    color: white;
}

.cart_actions {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.65;
    border-top: 1px solid rgb(175, 175, 175);
    box-shadow: 0 -5px 10px rgba(175, 175, 175, 0.866);
    height: 5vh;
}

.cart_actions .subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart_actions button {
    border: white 1px solid;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding:10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart_actions button:hover{
    color: rgb(203, 203, 203)
}

.cart_actions button:nth-of-type(2) {
    background-color: red;
}
/* Cart section ends */

/* Scroll up starts */
.scroll-up {
    position: fixed;
    left: 1.5%;
    bottom: 3%;
    cursor: pointer;
}
.up-arrow {
    width: 3rem;
    height: 3rem;
}
/* Scroll up ends */