@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* Variables */
:root {
    --font-family: 'Noto Sans', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --color: white;
    --bg-color: #000000;
    --hitori-color: #EEB8C4;
    --ryo-color: #4061A0;
    --kita-color: #D0574E ;
    --nijika-color: #E6D47B;
    --primary-shadow: #525252;
    --secondary-shadow: #60f2ff;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.5s;
}
/* Variables end */


html {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

/* Parallax scrolling effect starts */
.parallax {
    /* The image used */
    background-image: url('/../assets/kessoku background2.png');
  
    /* Height */
    height: 45%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
/* Parallax scrolling effect ends */

/* Tours section starts */
.image-slider {
    position: relative;
    width: auto;
    height: 50vh;
    overflow: hidden;
}
  
#slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
  
.left-arrow {
    left: 10px;
}
  
.right-arrow {
    right: 10px;
}
  

/* Tours section ends */

/* Navbar section starts*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 93%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.1);
}

nav ul {
    display: flex;
    gap: 2.5rem;
    color: white;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

nav ul li span {
    background-color: red;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
/* Navbar section ends */

/*Tours section starts*/
h2 {
    text-align: center;
    color: white;
    text-decoration: underline;
}
/* Tours section ends */

/* Disocography section starts */
.flex-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 292px)
{
    .flex-container2{
      flex-wrap: wrap;
    }
    .flex-container2 > li {
      width: 40%;
    }
}

figcaption {
    background-color: black;
    color: white;
    font-style: var(--bold-font);
    padding: 5px;
    text-align: center;
    height:40px;
    overflow: hidden;
}

figure {
    display: grid;
    place-items: center;
    align-content: center;
    flex-flow: column;
    padding-right:30px;
    padding-left: 30px;
    padding-bottom: 20px;
    max-width: 220px;
    margin: auto;
    min-height:200px;
}

@media screen and (min-aspect-ratio: 16/9)
{
    figure {
        display: grid;
        place-items: center;
        align-content: center;
        flex-flow: column;
        padding-right:50px;
        padding-left: 50px;
        padding-bottom: 20px;
        max-width: 220px;
        margin: auto;
        min-height:200px;
    }
}

figure img {
    max-height:100%;
    width: auto;
    aspect-ratio: 1/1;
}

.flex-container2:nth-child(2) {
    transition-delay: 300ms;
}
.flex-container2:nth-child(3) {
    transition-delay: 500ms;
}
.flex-container2:nth-child(4) {
    transition-delay: 700ms;
}
.flex-container2:nth-child(5) {
    transition-delay: 100ms;
}
.flex-container2:nth-child(6) {
    transition-delay: 300ms;
}
.flex-container2:nth-child(7) {
    transition-delay: 500ms;
}
.flex-container2:nth-child(8) {
    transition-delay: 700ms;
}
.flex-container2:nth-child(9) {
    transition-delay: 100ms;
}
.flex-container2:nth-child(10) {
    transition-delay: 300ms;
}
.flex-container2:nth-child(11) {
    transition-delay: 500ms;
}
.flex-container2:nth-child(12) {
    transition-delay: 700ms;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* Discography section ends */

/* Merch section starts */
.merch {
    padding-top: 15px;
}
#merch {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#merch .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#merch .pro {
    width: 20%;
    min-width: 240px;
    padding: 10px 12px;
    border: 3px solid #2b2b2b;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.05);
    margin: 15px 0;
    transition: 0.5s ease;
    position: relative;
}

#merch .pro:hover {
    box-shadow: 20px 30px 30px rgba(255, 255, 255, 0.1);
}

#merch .pro img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius:20px;
}

#merch .pro .des {
    padding: 10px 0;
}

#merch .pro .des h4 {
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-align:center;
}

#merch .pro .des h5 {
    color: white;
    font-size: 14px;
    text-align: center;
}

#merch .pro .cart {
    width:35px;
    object-fit: scale-down;
    background-color: rgba(111, 111, 111, 0.486);
    border: 3px solid rgb(224, 224, 224);
    position: relative;
}
/* Merch section ends */

/* Hero section starts*/
.flex-container {
    display: flex;
    min-width: 450px;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.flex-container > div {
    display: center;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    width: 20vw;
    height: 41vw;
    border-radius: 7.5%;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-container > div > h5 {
    line-height: 15px;
    position: relative;
    margin-top: -10px;
}
.flex-container > div > p {
    flex-wrap: wrap;
    font-size: 0.75rem;
    line-height: 20px;
    border: 1.5px solid rgb(132, 132, 132);
    margin-top: -10px;
    aspect-ratio: 16/10;
    width:20vw;
    height: auto;
    border-radius: 5%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.hero img {
    height: 20%;
    width: 20%;
    object-fit: contain;
}
  
.bio {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px white;
    background-color: rgb(255, 255, 255);
}

.profile-img {
    padding-top: 20px;
    height: 250px;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
/* Hero section ends */

/* Support section starts */
.support {
    padding-bottom: 50px;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    color: white;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    color: white;
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px white;
    background-color: #161616;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset white;
    font-size: 0.875rem;
    outline: none;
    font-family: var(--font-family);
}

.input-field::placeholder {
    color: black;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: red;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    cursor: pointer;
}
/* Support section ends */

/* Cart section starts */

/* Cart section ends */
/* Scroll up starts */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
.up-arrow {
    width: 3rem;
    height: 3rem;
}
/* Scroll up ends */